:root {
  --color-dark: #191a23;
  --color-light: #e5e4e2;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #cccccc;
  --color-gray-light: #efefef;
  --color-gray-medium: #e6e6e6;
  --color-gray-dark: #bfbfbf;
  --color-gray-table-border: #c7c7c7;
  --color-gray-icon: #d2d2d2;
  --color-yellow: #ffe598;
  --color-red: #ff0000;
  --color-pink: #f3cccc;
  --color-green: #00e9a8;
  --color-green-light: #a3e9c3;
  --color-green-extra-light: #ddffec;
  --color-green-dark: #34a753;
  --color-blue: #0094ff;
  --color-violet: #400478;
  --color-grad-1: linear-gradient(90deg, #000000d3 0%, #e5e4e2 100%);
  --color-grad-2: linear-gradient(70deg, #e5e4e2 -20%, #000000fe 110%);
  --color-grad-3: linear-gradient(241deg, #000000b0 0%, #e5e5e5 100%);
  --color-grad-4: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  --color-grad-5: linear-gradient(226deg, #e5e4e2 0%, #00000058 100%);
  --overlay-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.45) 20%,
    rgb(0, 0, 0)
  );
  --overlay-color-reverse: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.45) 20%,
    rgb(0, 0, 0)
  );

  --border-radius-small: 5px;
  --border-radius-table: 10px;
  --border-radius: 30px;
  --border-radius-medium: 38px;
  --border-radius-large: 93px;

  --box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 -2px 10px rgba(0, 0, 0, 0.05);
  --box-shadow-3: 0 -1px 9px rgba(0, 0, 0, 0.3);

  --font-family-base: "Futura", sans-serif;
  --font-family-base-accent-light: "Futura book light", sans-serif;
  --font-family-second: "Inter", sans-serif;
  --font-family-alternate: "Roboto", sans-serif;

  --container-width: 1880px;
  --menuHeight: 100px;
  --container-padding-x: 20px;
  --whoUsesMagrinTopMobile: 250px;

  --indentSmall: clamp(12.5px, 1.25vw, 25px);
  --indent: clamp(25px, 2.5vw, 50px);
  --indentBig: clamp(40px, 3.9vw, 75px);

  --transition-duration: 0.3s;

  @include mobile-media {
    --menuHeight: clamp(80px, 13vw, 100px);
  }
}
