.button {
  @include flex-center(true);

  padding: 10px;
  height: var(--button-height);
  border: none;
  border-radius: var(--border-radius);
  background: var(--color-grad-1);
  font-weight: 900;
  color: var(--color-light);

  @include hover {
    color: var(--color-dark);
  }
  @include active {
    transform: scale(1.05);
  }
}
